.card {
    text-align: center;

    line-height: 125%;
    width: auto;

    padding: 32px 23px;
    background: var(--cor_0);
    border-bottom: 2px solid var(--cor_1);
    border-radius: 6px;

    filter: drop-shadow(0px 15px 10px #000);
}

c-box-times > img:hover,
c-box-times > img:active,
c-box-times > img:focus {
    animation: c-box-times-img-Anim 0.4s ease 0s 1 normal both;
}

@keyframes c-box-times-img-Anim {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.08);
    }
}

.card c-box-data {
    padding: 8px 16px;
    border: 1px solid var(--cor_3);
    border-radius: 6px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 20px;
}

.card c-data {
    color: var(--cor_1);
    font-weight: 700;
    font-size: 24px;
    text-align: right;
    text-shadow: 0px 0px 10px var(--cor_1), 2px 2px 10px #000;
}

.card c-dia-semana {
    color: var(--cor_2);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    text-shadow: 0px 0px 10px var(--cor_1), 2px 2px 10px #000;
}

/* C-BOX-TIMES */

.card c-box-times {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;
    gap: 24px;

    color: var(--cor_2);
    font-weight: 900;
    font-size: 36px;
    line-height: 125%;
}

.card c-box-times + c-box-times {
    border-top: 1px solid var(--cor_4);
}

.card c-box-times > img {
    filter: drop-shadow(2px 15px 10px #000);
}

.card c-box-times {
    background-image: linear-gradient(
        -225deg,
        #e1e1e6 0%,
        #bfbfc3 29%,
        #969697 67%,
        #bfbfc3 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: c-box-times-text 1.4s linear infinite;
}

@keyframes c-box-times-text {
    to {
        background-position: 200% center;
    }
}
