.card {
    --cor_0: #1d1c19;
    --cor_1: #f7dd43;
    --cor_2: #e1e1e6;
    --cor_3: #746615;
    --cor_4: #323238;

    font-family: "Roboto", sans-serif;
    text-align: center;

    line-height: 125%;
    width: auto;

    padding: 32px 23px;
    background: var(--cor_0);
    border-bottom: 2px solid var(--cor_1);
    border-radius: 6px;
}

.card c-box-data {
    padding: 8px 16px;
    border: 1px solid var(--cor_3);
    border-radius: 6px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 20px;
}

.card c-data {
    color: var(--cor_1);
    font-weight: 700;
    font-size: 24px;
    text-align: right;
}

.card c-dia-semana {
    color: var(--cor_2);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.card c-box-times {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;
    gap: 24px;

    color: var(--cor_2);
    font-weight: 900;
    font-size: 36px;
    line-height: 125%;
}

.card c-box-times + c-box-times {
    border-top: 1px solid var(--cor_4);
}
